
.hero-section-workforceoptimization {
    position: relative;
  
    /* background: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #91eae4); */
    background: linear-gradient(45deg   ,#cab817,#bd7f46 ,#eed918); 
  
    height: 80vh;
  
    text-align: center;
    color: white;
    overflow: hidden;
  }
  

  .about-heading-workforceoptimization {
    font-size: 2.5rem;
    justify-content: center;
  }
  
 
  
  /* SVG Curve Styling */
  .svg-curve-workforceoptimization {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }


  /* -------------------------------------------------------------------- */

  .maindiv-workforceoptimization {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.firstdiv-workforceoptimization {
    height: 100vh;
    width: 50%;
    position: absolute;
    left: 0px; 
    padding: 30px;
}

.seconddiv-workforceoptimization {
    height: 100vh;
    width: 50%;
    position: absolute;
    right: 0px;
    padding: 30px;
}

.seconddiv-workforceoptimization h1 {
    width: fit-content;
    max-width: 400px;
    color: rgb(15, 159, 243);
    font-size: 4rem;
}

.seconddiv-workforceoptimization p {
    text-align: justify;
    font-size: 20px;
    width: 800px; /* This will be adjusted in mobile view */
}

.seconddiv-workforceoptimization p::first-letter {
    font-size: 2.5em;
    font-weight: bold;
    float: left;
    color: #bdbaba;
    padding-right: 5px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .maindiv-workforceoptimization{
        display: block;
    }
    .firstdiv-workforceoptimization,
    .seconddiv-workforceoptimization {
        width: 100%; /* Stack the divs on top of each other */
        height: auto; /* Allow height to adjust based on content */
        position: relative; /* Change positioning to relative */
        padding: 15px; /* Reduce padding for smaller screens */
       
    }

    .seconddiv-workforceoptimization h1 {
        font-size: 2.5rem; /* Reduce font size for headings */
        padding: 20px; /* Adjust padding */
    }

    .seconddiv-workforceoptimization p {
        font-size: 16px; /* Adjust paragraph font size */
        width: auto; /* Allow width to be auto for better responsiveness */
        padding-left: 10px; /* Add some left padding for better readability */
        padding-right: 10px; /* Add some right padding for better readability */
    }
}

@media (max-width: 480px) {
    .seconddiv-workforceoptimization h1 {
        font-size: 2rem; /* Further reduce heading size for very small screens */
        padding-top: 10px; /* Adjust top padding */
        padding-bottom: 10px; /* Adjust bottom padding */
    }

    .seconddiv-workforceoptimization p {
        font-size: 14px; /* Further reduce paragraph font size */
        padding-left: 5px; /* Adjust left padding */
        padding-right: 5px; /* Adjust right padding */
    }
}


/* ------------------------------------------------------------------ */
.workoptimization-features{
    margin-top: 100px;
  }
  @media(max-width:768px){
    .workoptimization-features-div{
      margin-top: 50px;
    }
  }
  
  
  .page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
    max-width: 90%;
    margin: 0 auto;
    font-family: var(--font-sans);
  }
  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .d_card {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
      0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  @media (min-width: 600px) {
    .d_card {
      height: 350px;
    }
  }
  .d_card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
    transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
    transition: transform calc(var(--d) * 1.5) var(--e);
    transition: transform calc(var(--d) * 1.5) var(--e),
      -webkit-transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  .d_card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0)),
      color-stop(11.7%, rgba(0, 0, 0, 0.009)),
      color-stop(22.1%, rgba(0, 0, 0, 0.034)),
      color-stop(31.2%, rgba(0, 0, 0, 0.072)),
      color-stop(39.4%, rgba(0, 0, 0, 0.123)),
      color-stop(46.6%, rgba(0, 0, 0, 0.182)),
      color-stop(53.1%, rgba(0, 0, 0, 0.249)),
      color-stop(58.9%, rgba(0, 0, 0, 0.32)),
      color-stop(64.3%, rgba(0, 0, 0, 0.394)),
      color-stop(69.3%, rgba(0, 0, 0, 0.468)),
      color-stop(74.1%, rgba(0, 0, 0, 0.54)),
      color-stop(78.8%, rgba(0, 0, 0, 0.607)),
      color-stop(83.6%, rgba(0, 0, 0, 0.668)),
      color-stop(88.7%, rgba(0, 0, 0, 0.721)),
      color-stop(94.1%, rgba(0, 0, 0, 0.762)),
      to(rgba(0, 0, 0, 0.79))
    );
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.009) 11.7%,
      rgba(0, 0, 0, 0.034) 22.1%,
      rgba(0, 0, 0, 0.072) 31.2%,
      rgba(0, 0, 0, 0.123) 39.4%,
      rgba(0, 0, 0, 0.182) 46.6%,
      rgba(0, 0, 0, 0.249) 53.1%,
      rgba(0, 0, 0, 0.32) 58.9%,
      rgba(0, 0, 0, 0.394) 64.3%,
      rgba(0, 0, 0, 0.468) 69.3%,
      rgba(0, 0, 0, 0.54) 74.1%,
      rgba(0, 0, 0, 0.607) 78.8%,
      rgba(0, 0, 0, 0.668) 83.6%,
      rgba(0, 0, 0, 0.721) 88.7%,
      rgba(0, 0, 0, 0.762) 94.1%,
      rgba(0, 0, 0, 0.79) 100%
    );
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
    transition: -webkit-transform calc(var(--d) * 2) var(--e);
    transition: transform calc(var(--d) * 2) var(--e);
    transition: transform calc(var(--d) * 2) var(--e),
      -webkit-transform calc(var(--d) * 2) var(--e);
  }
  .d_card:nth-child(1):before {
    background-image: url('../../../../Assets/deconsolidation.png');
  }
  .d_card:nth-child(2):before {
    background-image: url('../../../../Assets/deconsolidation.png');
  }
  .d_card:nth-child(3):before {
    background-image: url('../../../../Assets/deconsolidation.png');
  }
  .d_card:nth-child(4):before {
    background-image: url('../../../../Assets/deconsolidation.png');
  }
  .d_card:nth-child(5):before {
    background-image: url('../../../../Assets/deconsolidation.png');
  }
  .d_card:nth-child(6):before {
    background-image: url('../../../../Assets/deconsolidation.png');
  }
  .content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    -webkit-transition: -webkit-transform var(--d) var(--e);
    transition: -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e);
    transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
    z-index: 1;
  }
  .content > * + * {
    margin-top: 1rem;
  }
  
  .heading {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .data-content {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
  }
  
  @media (hover: hover) and (min-width: 600px) {
    .d_card:after {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    .content {
      -webkit-transform: translateY(calc(100% - 4.5rem));
      transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.heading) {
      opacity: 0;
      -webkit-transform: translateY(1rem);
      transform: translateY(1rem);
      -webkit-transition: opacity var(--d) var(--e),
        -webkit-transform var(--d) var(--e);
      transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e),
        -webkit-transform var(--d) var(--e);
    }
  
    .d_card:hover,
    .d_card:focus-within {
      -webkit-box-align: center;
      align-items: center;
    }
    .d_card:hover:before,
    .d_card:focus-within:before {
      -webkit-transform: translateY(-4%);
      transform: translateY(-4%);
    }
    .d_card:hover:after,
    .d_card:focus-within:after {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .d_card:hover .content,
    .d_card:focus-within .content {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    .d_card:hover .content > *:not(.heading),
    .d_card:focus-within .content > *:not(.heading) {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition-delay: calc(var(--d) / 8);
      transition-delay: calc(var(--d) / 8);
    }
  
    .d_card:focus-within:before,
    .d_card:focus-within:after,
    .d_card:focus-within .content,
    .d_card:focus-within .content > *:not(.heading) {
      -webkit-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
  
  /* -------------------------------------------------------------- */
  .maindiv-valuedelivered-workoptimization{
    position: relative;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100%;
    padding: 40px;
  }
  .firstdiv-valuedelivered-workoptimization{
    position: absolute;
    height: 50vh;
    width: 30%;
    left: 0px;
  }
  .seconddiv-valuedelivered-workoptimization{
    position: absolute;
    height: 50vh;
    width: 30%;
    left: 600px;
  }
  .thirddiv-valuedelivered-workoptimization{
    position: absolute;
    height: 50vh;
    width: 30%;
    right: 0px;
  }
  @media (max-width: 768px) {
    .firstdiv-valuedelivered-workoptimization,
    .seconddiv-valuedelivered-workoptimization,
    .thirddiv-valuedelivered-workoptimization {
        position: relative; /* Change to relative for stacking */
        width: 100%; /* Full width on mobile */
        height: auto; /* Adjust height as needed */
        margin-bottom: 20px; /* Add some space between the divs */
    }

    .seconddiv-valuedelivered-workoptimization {
        left: auto; /* Reset left positioning */
        right: auto; /* Reset right positioning */
    }

    .thirddiv-valuedelivered-workoptimization {
        right: auto; /* Reset right positioning */
    }
    .footer-footer{
        margin-top: 1750px;
    }
    .workoptimization-content{
        padding: 0px;
    }
}
.workoptimization-content{
    text-align: justify;
    padding: 20px;
}