
/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #6c757d;
      color: white;
}

.navbar .navbar-brand img {
  height: 60px;
}

.navbar-toggle {
  display: none; /* Hidden by default, shown on smaller screens */
}

.navbar-links {
  display: flex;
}

.navbar-links .nav-link {
  color: white;
}

.navbar-collapse {
  display: flex;
}
.dropdown-title {
  color: white;
}

.dropdown-icon {
  color: white; /* Change the icon color to white */
  margin-left: 5px; /* Optional: Add some space between the title and icon */
}
@media (max-width: 768px) {
  .navbar-collapse {
    display: block; /* Show the menu in mobile view */
  }

  .navbar-toggle {
    display: block; /* Show toggle button on small screens */
  }

  .navbar-links {
    display: none; /* Hide the links by default on mobile */
    flex-direction: column;
  }

  .navbar-links.active {
    display: flex; /* Show the links when active */
  }
}



/* ----------------- */
.hero-section {
  position: relative;
  background: #ff3c00;;
  /* background: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #91eae4); */
  height: 80vh;

  text-align: center;
  color: white;
  overflow: hidden;
}

.container-about {
  z-index: 2; /* Ensures content stays above the background */
}

.about-heading {
  font-size: 2.5rem;
  justify-content: center;
}

.about-heading2 {
  font-size: 1.5rem;
}

/* SVG Curve Styling */
.svg-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}


/* ----------------------- */



.containeraboutpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom */
.type {
  color: #dbd56e;
  background: -webkit-linear-gradient(25deg, #ff3c00, #ff3c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type 1.10s steps(90) 1.10s 1 normal both, cursor 1s step-end infinite;
  position: relative;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.content{
  font-size: 20px;
  text-align:justify; 
  padding: 60px;
}
.content-different{
  font-size: 20px;
  text-align:justify; 
  padding: 60px;
}


@media(max-width:768px){
  .content{
   padding: 8px;
  }
  .content-different{
     
    padding:8px;
  }
 
}