.curved-div {
  background: linear-gradient(#C33764, #200247);
  /* background:linear-gradient(#2E3192 , #1BFFFF); */
  color: #FFF;
  text-align: center;
}
.curved-div Navbar {
  font-size: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.curved-div Navbar {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.curved-div Nav{
  display: block;
}
.nav-dropdown .dropdown-item {
  color: white; /* Change text color to white */
}
.sideimage-homepage{
  border-radius: 50%;
  margin-top:50px;
  height:60vh;
  z-index:'100';
  margin-left:-150px;
}





@media (min-width: 760px) {

  .sideimage-homepage{
    border-radius: 50%;
    margin-top:50px;
    height:60vh;
    z-index:'100';
    margin-left:-150px;
  }



}





.hero-section-homepage {
  position: relative;
  background:linear-gradient(#C33764,#200247);
  /* background: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #91eae4); */
  height: 80vh;

  text-align: center;
  color: white;
  overflow: hidden;
}

.container-about {
  z-index: 2; /* Ensures content stays above the background */
}

.about-heading {
  font-size: 2.5rem;
  justify-content: center;
}

.about-heading2 {
  font-size: 1.5rem;
}

/* SVG Curve Styling */
.svg-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}


/* ----------------------- */



.containeraboutpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom */
.type {
  color: #dbd56e;
  background: -webkit-linear-gradient(25deg,#C33764, #200247);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: type 1.10s steps(90) 1.10s 1 normal both, cursor 1s step-end infinite;
  position: relative;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}


blockquote{
  font-size: 22px;
  width:90%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #ff3c00 ;

  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  /* content: "\201C"; */
  color:#ff3c00 ;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  font-family:Arial;
  /* content: "\201D"; */
  color:#ff3c00 ;
  font-size:4em;
  /* position: absolute; */
  left: 10px;
  /* top:-10px; */
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


/* --------------------- */
.homepage-three-divs {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Distribute space between divs */
    align-items: center; /* Stretch divs to equal height */
    height: 70vh; /* Set a fixed height for the container */
    position: relative;
}
.homepage-first-div{
  position: absolute;
  width: 30%;
  height: 70vh;
  padding: 40px;
  left: 0;
  text-align: justify;
}
.homepage-second-div{
  position: absolute;
  width: 40%;
  height: 70vh;
  left: 40%;
 
  text-align: justify;

}

.homepage-third-div{
  position: absolute;
  width: 30%;
  height: 70vh;
  padding: 40px;
  right: 0;
  text-align: justify;
}
.homepage-button{
  padding: 10px;
  border: none;
  background-color: #C33764;
  color: white;
  border-radius: 5px;
}
.moving-border {
  position: relative;
  display: inline-block;
  padding: 10px; /* Added padding for visual effect */
}

.moving-border img {
  border: 1px solid transparent; /* Start with transparent border */
  padding: 10px;
  animation: borderAnimation 3s linear infinite; /* Infinite animation */
}

@keyframes borderAnimation {
  0% {
    border-color: red;
  }
  25% {
    border-color: blue;
  }
  50% {
    border-color: green;
  }
  75% {
    border-color: yellow;
  }
  100% {
    border-color: red;
  }
}


